<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>自作自演板＠3ch掲示板</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascript/link.js" type="text/javascript"></script>
  </head>

  <body>
    <img src="http://www2.2ch.net/2ch.gif" class="top-image">
    <header>
      <h1>自作自演＠3ch掲示板</h1>
      <p>俺しかいない</p>
      <p><a href="/new_thread">スレッドを立てる</a></p>
      <p><a href="/">トップへ戻る</a></p>
    </header>

    <nav>
      <h1>スレッド一覧</h1>
      <div class="navigation">
        <ul>
          <% @threads.each.with_index(1) do |thread, i| %>
            <li><a href="threads/<%= thread["id"] %>">
            <%= i %> ： <%= thread["title"] %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <footer>
      <p>3ch BBS Sinatra</p>
    </footer>
  </body>
</html>
