<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>三浦ちゃんねる</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <h1>スレッドを作成する</h1>
    <form method="post" action="/post_thread">
      <label for="title">スレッド名：</label>
      <input type="text" name="title" id="title"><br />
      <label for="name">名前：</label>
      <input type="text" name="name" id="name"><br />
      <label for="mail">メールアドレス：</label>
      <input type="text" name="mail" id="mail"><br />
      <label for="text">内容</label>
      <textarea type="text" name="text" id="text"></textarea><br />
      <button type="submit">スレッドを作成する</button>
    </form>
  </body>
</html>
